<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<div class="comment-top">
    <h4>Leave a Comment</h4>
    <div class="comment-bottom">
        <form action="#" method="post">
            @*<input type="hidden" name="@ViewBag.id" id="Blogid"/>*@
            <input class="form-control" type="text" name="Username" placeholder="Name" id="Name" required="">
            <input class="form-control" type="text" name="Title" placeholder="Subject" id="Subject" required="">
            <textarea class="form-control" name="Content" placeholder="Message..." id="Message" required=""></textarea>
            <button type="submit" id="btn" class="btn btn-primary submit">Submit</button>
        </form>
    </div>
</div>

<script>

        $("#btn").click(function () {
            let values = {
                Username: $("#Name").val(),
                Title: $("#Subject").val(),
                Content: $("#Message").val()
               
                
            };
            $.ajax({
                type: "post",
                url: "/Comment/AddComment/",
                data: values,
                success: function (func) {
                    let result = jQuery.parseJSON(func);
                }
            });

        });


</script>