
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}


<link href="/web/css/contact.css" rel='stylesheet' type='text/css' />
    <section class="main-content-w3layouts-agileits">

        <h3 class="tittle">İletişim</h3>
        <p class="sub text-center">Soru, görüş ve önerileriniz için iletişim formunu doldurabilirsiniz</p>
        @await Component.InvokeAsync("ContactAbout") 
        <div class="container">
            <div class="contact_grid_right">
                <form action="#" method="post">
                    <div class="row contact_left_grid">
                        <div class="col-md-6 con-left">
                            <div class="form-group">
                                <label for="validationCustom01 my-2">Name</label>
                                <input class="form-control" type="text" name="Username" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Email</label>
                                <input class="form-control" type="email" name="Mail" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label for="validationCustom03 my-2">Subject</label>
                                <input class="form-control" type="text" name="Title" placeholder="" required="">
                            </div>
                        </div>
                        <div class="col-md-6 con-right">
                            <div class="form-group">
                                <label for="textarea">Message</label>
                                <textarea id="textarea" placeholder="" name="Message"></textarea>
                            </div>
                            <input class="form-control" type="submit" value="Gönder">

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!--//main-->
    <!--footer-->
