@using X.PagedList
@using X.PagedList.Mvc.Core 
@model IPagedList<EntityLayer.Concrete.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>KATEGORİLER</h5>
                <br />
                <a href="/Admin/Category/AddCategory" class="btn btn-primary">+ KATEGORİ EKLE</a>
            </div>
            <div class="ibox-content">

                <table class="footable table table-stripped toggle-arrow-tiny">
                    <thead>
                        <tr>

                            <th>#</th>
                            <th>Kategori Adı</th>
                            <th>Aktif Yap</th>
                            <th>Pasif Yap</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count < 1)
                        {

                            <div class="alert alert-danger">
                                <p>Henüz bir kategori bulunmamaktadır</p>
                            </div>
                        }
                        else
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.CategoryID</td>
                                    <td>@item.CategoryName</td>
                                    <td><a href="">Aktif Yap</a></td>
                                    <td><a href="">Pasif Yap</a></td>
                                    <td><a href="" class="btn btn-info">Detay</a>||<a href="" class="btn btn-success">Güncelle</a>||<a href="/Admin/Category/DeleteCategory/@item.CategoryID" id="DeleteBtn" onclick="return confirm('Silmek istediğinize emin misiniz?');" class="btn btn-danger">Sil</a></td>
                                </tr>
}}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <ul class="pagination float-right"></ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>
<br />
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new {page}))

