@using Core_Bootcamp.Controllers
@model Class1
@{
    ViewData["Title"] = "AddEmployee";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>AddEmployee</h1>

<form method="post">
    <label>Ad Soyad</label>
    <input type="text" asp-for="@Model.name" class="form-control"/>
    <br />
    <button type="submit" class="btn btn-success">EKLE</button>
</form>

