@using EntityLayer.Concrete
@model List<Notification>
@{
    ViewData["Title"] = "AllNotifications";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>AllNotifications</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>BİLDİRİM</th>
        <th>TARİH</th>
    </tr>
    @if (Model.Count < 1)
    {
        <div class="alert alert-danger">
            <p>Henüz Bildiriminiz Bulunmamaktadır</p>
        </div>
    }
    else
    {
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NotifcationID </td>
                <td>@item.NotificationDetails</td>
                <td>@item.NotificationDate.ToShortDateString()</td>
            </tr>
        }}
</table>
